<ion-view>
  <ion-content>
		<div class="screenContainer" >
		 	<div class="landingtop" style="background-image: url(img/images/background.png)"><img class="imageavatar" src="img/images/Cdsdsds.PNG">
		 	<div class="landingmenuFont" style="padding-top: 86px">ABROADWITH</div>
			<div class="menuFont" style="padding-top: 86px"> LEARN AND DISCOVER </div>
			
		 	
		 	</div>
		 	<div class="landingbottom" style="background-image: url(img/images/background.png)">
		 				<div class="landingbottomleft">
		 				<div class="landing-bottom-title">abroadwith</div>
						<div class="landing-bottom-subtitle">What Next<span id="scan-progress">...</span>...</div>
		 			</div>
		 	<div class="landingbottomright" ng-click="showMenu()"><img src="img/images/menu.png"></div>
		 	</div>
		</div> 
  </ion-content>    
</ion-view>