<ion-view>
  <ion-content>
		<div class="screenContainer" >
		 	<div class="landingtop" style="background-image: url(img/images/background.png)"><img class="abimageavatar" src="img/images/abroadwith-banner.png">
		 	<div class="landingmenuFont" style="padding-top: 86px">GO ABROAD</div>
		 	<div class="menuFont" style="padding-top: 86px">LEARN A LANGUAGE</div>
			<div class="menuFont" style="padding-top: 86px">DISCOVER NEW CULTURE</div>
			<div class="menuFont" style="padding-top: 86px"> Loading <ion-spinner class="spinner-energized"></ion-spinner></div>
			
		 	
		 	</div>
		 	<div class="landingbottom" style="background-image: url(img/images/background.png)">
		 				<div class="landingbottomleft">
		 				<div class="landing-bottom-title">GO ABROAD</div>
						<div class="landing-bottom-subtitle">What Next<span id="scan-progress">...</span>...</div>
		 			</div>
		 	
		 	</div>
		</div> 
  </ion-content>    
</ion-view>