<ion-view>
  <ion-content>	
		<div class="screenContainer" style="background-image: url(img/images/background.png)">
			
			<div class="menuContainer" >
				<div class="menuLeft" ng-click="closeMenu()"><img class="menuAvatar" src="img/images/menu.svg"></div>
				<div class="menuMiddle menuFont"> Menu </div>
			</div>
			<div style="position: absolute; width: 640px; height: auto; padding:30px">

					<div class="mdl-card mdl-shadow--2dp" style="background: url('img/images/scan.svg') center / cover; width:47%; height:256px;float:left; margin: 2% 0 0 2%" ng-click="gotoViewProfiles()">
						<div class="mdl-card__title mdl-card--expand"></div>
						<div class="mdl-card__actions">
							<span style="color: #fff; font-size:14px;font-weight:500">HOSTS</span>
						</div>

				</div>

					<div class="mdl-card mdl-shadow--2dp" style="background: url('img/images/myQR.svg') center / cover;width:47%; height:256px;float:left; margin: 2% 0 0 2%" ng-click="gotoMyTriangleProfile()">
						<div class="mdl-card__title mdl-card--expand"></div>
						<div class="mdl-card__actions">
							<span style="color: #fff; font-size:14px;font-weight:500">What we Offer</span>
						</div>
					</div>


					<div class="mdl-card mdl-shadow--2dp" style="background: url('img/images/share.svg') center / cover; width:47%; height:256px;float:left; margin: 2% 0 0 2%" ng-click="gotoShare()">
						<div class="mdl-card__title mdl-card--expand"></div>
						<div class="mdl-card__actions">
							<span style="color: #fff; font-size:14px;font-weight:500">Share</span>
						</div>
					</div>

					<div class="mdl-card mdl-shadow--2dp" style="background: url('img/images/profiles.svg') center / cover; width:47%; height:256px;float:left; margin: 2% 0 0 2%" ng-click="gotoViewProfiles()">
						<div class="mdl-card__title mdl-card--expand"></div>
						<div class="mdl-card__actions">
							<span style="color: #fff; font-size:14px;font-weight:500">Portfolio</span>
						</div>
					</div>

					<div class="mdl-card mdl-shadow--2dp" style="background: url('img/images/about.svg') center / cover; width:47%; height:256px;float:left; margin: 2% 0 0 2%" ng-click="gotoProfilesCategory()">
						<div class="mdl-card__title mdl-card--expand"></div>
						<div class="mdl-card__actions">
							<span style="color: #fff; font-size:14px;font-weight:500">Career</span>
						</div>
					</div>

					<div class="mdl-card mdl-shadow--2dp" style="background: url('img/images/more.svg') center / cover; width:47%; height:256px;float:left; margin: 2% 0 0 2%" ng-click="gotoMyTriangleProfile()">
						<div class="mdl-card__title mdl-card--expand"></div>
						<div class="mdl-card__actions">
							<span style="color: #fff; font-size:14px;font-weight:500">News</span>
						</div>
					</div>

					<!-- <div class="menuItems" ng-click="gotoMyTriangleProfile()"><img class="menuItemsAvatar" src="img/images/myQR.svg"><div class="menuItemsFont"> What we Offer</div></div>
					<div class="menuItems" ng-click="gotoShare()"><img class="menuItemsAvatar" src="img/images/share.svg"><div class="menuItemsFont">SHARE</div></div>
					<div class="menuItems" ng-click="gotoViewProfiles()"><img class="menuItemsAvatar" src="img/images/profiles.svg"><div class="menuItemsFont">PORTFOLIO</div></div>
					<div class="menuItems" ng-click="gotoProfilesCategory()"><img class="menuItemsAvatar" src="img/images/about.svg"><div class="menuItemsFont">  CAREER</div></div>
					<div class="menuItems"><img class="menuItemsAvatar" src="img/images/more.svg"><div class="menuItemsFont">NEWS</div></div> -->
				</div>
			</div>
		</div>
  </ion-content>    
</ion-view>