<ion-view>
  <ion-content>	
		<div class="screenContainer" style="background-image: url(img/images/background.png)"><img class="imageavatar" >
			<div class="profilemenuContainer" style="background-image: url(img/images/background.png)" >
				<div class="menuLeft" ng-click="gotoMenu()"><img  class="arrowAvatar" src="img/images/rightArrow.png"></div>
				<div class="menuMiddle menuFont" style="padding-left: 160px" >Profiles </div>
				<div class="menuRight" ><img src="img/images/profilesSmall.png"></div>				
			</div>

			<div class="profileInfoContainer">
				<div class="abprofileImageContainer" style="float:left">					
					<img class="profileImage" style="width:636px" alt="" src="img/images/ssd.PNG">	
				</div>
							
			</div>

			<div class="profileInfoContainer">
				<div class="abprofileImageContainer" style="float:left">					
					<img class="profileImage" style="width:636px" alt="" src="img/images/fs.png">	
				</div>
								
			</div>
			
			<div class="profileInfoContainer">
				<div class="bcprofileImageContainer" style="float:left">					
					<img class="profileImage" style="width:636px" alt="" src="img/images/Tand.png">	
				</div>
								
			</div>
			
			
			
	</div>	
  </ion-content>    
</ion-view>