<ion-view>
  <ion-content>
		<div class="screenContainer" style="background-image: url(img/images/background.png)">
			<div class="menuContainer">
				<div class="menuLeft" ng-click="gotoMenu()"><img class="menuAvatar" src="img/images/menu.svg"></div>
				<div class="menuMiddle menuFont" style="padding-left: 160px"> Careers </div>
				<div class="menuRight" ng-click="gotoMyTriangleProfile()"><img src="img/images/profilesSmall.png"></div>				
			</div>
			<div class="menuItemsContainer profileCategoryContainer">							
				<div class="profileCategoryBody">
					<div class="profileCategoryLeft">
					 <div class="menuFont" style="font-size: 50px"> Web Developer</div>
					 <div class="myriadFont" style="padding-top: 30px"> 1 Position</div>
					 </div>
					 <div class="profileCategoryRight" ng-click="gotoViewProfiles()">
					 <img class="rightArrow" src="img/images/rightArrow.png">
					 </div>
					</div>
					<div class="line"/>
				<div class="profileCategoryBody">
					 <div class="profileCategoryLeft">
					 <div class="menuFont" style="font-size: 50px"> iOS Developer</div>
					 <div class="myriadFont" style="padding-top: 30px"> 1 Position</div>
					 </div>
					 <div class="profileCategoryRight" ng-click="gotoViewProfiles()">
					 <img class="rightArrow" src="img/images/rightArrow.png">
					 </div>

				</div>
				<div class="line"/>
				<div class="profileCategoryBody">
					 <div class="profileCategoryLeft">
					 <div class="menuFont" style="font-size: 50px">Country Manager</div>
					 <div class="myriadFont" style="padding-top: 30px"> 1 Position</div>
					 </div>
					 <div class="profileCategoryRight" ng-click="gotoViewProfiles()">
					 <img class="rightArrow" src="img/images/rightArrow.png">
					 </div>
				</div>
				  <div class="line"/>
				  
				  
				<div class="profileCategoryBody">
					 <div class="profileCategoryLeft">
					 <div class="menuFont" style="font-size: 50px"> Internship</div>
					 <div class="myriadFont" style="padding-top: 30px"> 1 Position</div>
					 </div>
					 <div class="profileCategoryRight" ng-click="gotoViewProfiles()">
					 <img class="rightArrow" src="img/images/rightArrow.png">
					 </div>
				</div>
				  <div class="line"/>
				  	
				<div class="profileCategoryBody">
					 <div class="profileCategoryLeft">
					 <div class="menuFont" style="font-size: 50px"> Android Developer</div>
					 <div class="myriadFont" style="padding-top: 30px"> 1 Position</div>
					 </div>
					 <div class="profileCategoryRight" ng-click="gotoViewProfiles()">
					 <img class="rightArrow" src="img/images/rightArrow.png">
			     </div>
      	</div>
  </ion-content>    
</ion-view>